<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="./libs/angular/angular.min.js"></script>
    </head>
    <body ng-app="myApp">
        <mark>用法1（参数 expression 使用 String）</mark>
        <div ng-init="myArr = [{name:'Tom', age:20}, {name:'Tom Senior', age:50}, {name:'May', age:21}, {name:'Jack', age:20}, {name:'Alice', age:22}]">
            <div ng-repeat="u in myArr" ng-if="u.name.indexOf('o') > -1">
                <p>Name:{{u.name}}</p>
                <p>Age:{{u.age}}</p>
                <br />
            </div>
        </div>
        <mark>用法2（参数 expression 使用 object）</mark>
        <div ng-init="myArr = [{name:'Tom', age:20}, {name:'Tom Senior', age:50}, {name:'May', age:21}, {name:'Jack', age:20}, {name:'Alice', age:22}]">
            <div ng-repeat="u in myArr | filter: {age: 20}">
                <p>Name:{{u.name}}</p>
                <p>Age:{{u.age}}</p>
                <br />
            </div>
        </div>
        <mark>用法3（参数 expression 使用 function）</mark>
        <div ng-controller="myCtr1" ng-init="myArr = [{name:'Tom', age:20}, {name:'Tom Senior', age:50}, {name:'May', age:21}, {name:'Jack', age:20}, {name:'Alice', age:22}]">
            <div ng-repeat="u in myArr | filter: myFilter">
                <p>Name:{{u.name}}</p>
                <p>Age:{{u.age}}</p>
                <br />
            </div>
        </div>
        <script type="text/javascript">
            var app = angular.module('myApp', []);
            app.controller('myCtr1', function ($scope) {

                $scope.myFilter = function (item) {
                    //return item.age == 20;
                    if (item.age == 22) {
                        return item;
                    }
                }
            })
        </script>                         
    </body>
</html>